<div class="about-us">
    <div class="about-container">
        <div class="left-side">
            <h1>About Us</h1>
            <br>
            <p>A SOC organization about Web Development an organization team that will help 
                you with exciting seminars and fun activities improving your skill 
                and knowledge about being a Web Developer.</p>
        </div>
        <div class="right-side">
            <img src="assets/about-featured.png" alt="about-featured">
        </div>
    </div>
</div>

<div class="hr-width">
    <hr>
</div>


<div class="team">
    <h1 class="team-title">Meet the Current Team</h1>
    <div class="officers-cont">
        <div class = "box-container container">
  
            <div class = "box">
                <img src="assets/dale.png" alt="dale">
            </div>
            <div class = "box">
                <img src="assets/franci.png" alt="franci">
            </div>
            <div class = "box">
                <img src="assets/jenna.png" alt="jenna">
            </div>
            
            <div class = "box">
                <img src="assets/kiana.png" alt="kiana">
            </div>
            
            <div class = "box">
                <img src="assets/aubrey.png" alt="aubrey">
            </div>
            <div class = "box">
                <img src="assets/luise.png" alt="luise">
            </div>
            <div class = "box">
                <img src="assets/abby.png" alt="abby">
            </div>
            
            <div class = "box">
                <img src="assets/renz.png" alt="renz">
            </div>
    </div>
</div>

<div class="slogan">
    <h1>WE ARE THE <span style="color: #FF9100;">FUTURE</span></h1>
</div>

<footer>
    Website Created by: Code Geeks (S.Y. 2023-2024)
</footer>