<div>
  <h1 class="title text-center">EVENTS</h1>

  <div *ngIf="images && images.length > 0" class="carousel-container">
    <ng-container *ngFor="let image of images; let i=index">
      <img 
        [src]="image.imageSrc" [alt]="image.imageAlt"
        [ngClass]="{'image-active': selectedIndex === i}"
        (click)="selectImage(i)"
        class="fade"
        *ngIf="selectedIndex === i || autoSlide" 
      />
    </ng-container>


    <div *ngIf="indicators" class="carousel-dot-container">
      <span *ngFor="let dot of images; let i=index" 
        class="dot"
        [ngClass]="{'active': selectedIndex === i}"
        (click)="selectImage(i)"
      ></span>
    </div>
  </div>

  <button *ngIf="controls" class="btn-carousel btn-prev">
    <i class="fas fa-arrow-circle-left icon-carousel icon-prev"
      (click)="onPrevClick()"></i>
  </button>

  <button *ngIf="controls" class="btn-carousel btn-next">
    <i class="fas fa-arrow-circle-right icon-carousel icon-next"
      (click)="onNextClick()"></i>
  </button>
</div>
