<div class="contact">
  <div class="container-contact-us">
      <div class="left-side">
          <h1>CONTACT</h1>
          <h1>US</h1>
          <div class="line-div">
        <hr>
      </div>
          <div class="contact-align">
              <p><img class="contact-icon" src="../assets/email.png" alt="Email Icon"> hau.codegeeks20@gmail.com</p>
              <p><img class="contact-icon" src="../assets/fb.png" alt="Phone Icon"> TheCodeGeeks</p>
              <p><img class="contact-icon" src="../assets/web.png" alt="Address Icon"> haucodegeeks.github.io</p>
          </div>
      </div>
      <div class="right-side">
        <form action="https://backend-tn8d.onrender.com/contact" method="post">
            <label for="fullname" class="label-form">Full Name</label>
            <input type="text" id="fullname" name="fullname" required>
    
            <label for="email" class="label-form">Email</label>
            <input type="email" id="email" name="email" required>
    
            <label for="subject" class="label-form">Subject</label>
            <input type="text" id="subject" name="subject" required>
    
            <label for="message" class="label-form">Message</label>
            <textarea id="message" name="message" required></textarea>
    
            <div class="button-cont">
                <input type="submit" value="Send">
            </div>
        </form>
    </div>
  </div>
</div>