hr{
    margin: 0 auto;
    border-bottom: 2px solid white;
    width: 95%;
}

nav{
  height: 90px;
}

.cg-container{
    margin-left: 30px;
}

.cg {
    text-decoration: none;
    display: flex;
    margin: auto 0;
    align-items: center;
    
}

.cg img {
    margin-right: 5px; /* Adjust margin between logo and text */
  }

.navbar-brand1{
    color: #FF9100;
}

.navbar-brand2 {
    color: #0077ff;
}

.navbar-brand1, .navbar-brand2 {
    font-size: 25px;
    margin: 5px; /* Remove default margin */
    font-family: LEMONMILK;
  }

.navbar-nav{
  margin-right: 30px !important;
}

.nav-item a{
    color: white !important;
    font-family: Varela !important;
    text-transform: uppercase !important;
}

.nav-item a:hover,
.nav-item a.active {
    color: #FF9100 !important;
}



@media (max-width: 576px) {
  .cg-container {
    margin-left: 0;
  }

  .navbar-nav{
   padding-right: 20px;
    margin-top: 20px;
    margin-right: 0 !important;
    background-color: #272727;
    width: 130px;
    float: right;
  }
  
  .container-fluid{
    margin-bottom: 10px
  }
}

