<!DOCTYPE html>
<html lang="en">
<head>
  <title>Navbar</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
 <div class="fixed-top"> 
  <nav class="navbar navbar-expand-sm sticky-top" style="background-color: #2E2E2E;">
    <div class="container-fluid">
      <!-- Brand -->
      <div class="cg-container">
      <a class="cg" href="/home">
        <img src="/assets/CG-logo.png" alt="Icon" style="width:60px;">
        <h2 class="navbar-brand1">CODE</h2><h2 class="navbar-brand2"> GEEKS</h2>
      </a>
    </div>
  
      <!-- Links -->
      <ul class="navbar-nav ml-auto nav-links">
        <li class="nav-item">
          <a class="nav-link active" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <hr class="sticky-top" style="background-color: #2E2E2E;">
</div>
  <router-outlet></router-outlet>
  
  </body>
  </html>