<div class="fixed-top">
    <nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: #2E2E2E;">
        <div class="container-fluid">
            <!-- Brand -->
            <div class="cg-container">
                <a class="cg navbar-brand" href="/home">
                    <img src="/assets/CG-logo.png" alt="Icon" style="width:60px;">
                    <h2 class="navbar-brand1">CODE</h2>
                    <h2 class="navbar-brand2"> GEEKS</h2>
                </a>
            </div>
  
            <!-- Toggler/collapsible Button -->
            <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
                <span class="navbar-toggler-icon"></span>
            </button>
  
            <div [ngClass]="{'collapse': isNavbarCollapsed, 'navbar-collapse': true, 'justify-content-end': true}"
                id="collapsibleNavbar">
                <ul class="navbar-nav align-items-end">
                    <li class="nav-item" [class.active]="isActive('/home')">
                        <a class="nav-link" routerLink="/home">Home</a>
                    </li>
                    <li class="nav-item" [class.active]="isActive('/about')">
                        <a class="nav-link" routerLink="/about">About</a>
                    </li>
                    <li class="nav-item" [class.active]="isActive('/blog')">
                        <a class="nav-link" routerLink="/blog">Blog</a>
                    </li>
                    <li class="nav-item" [class.active]="isActive('/gallery')">
                        <a class="nav-link" routerLink="/gallery">Gallery</a>
                    </li>
                    <li class="nav-item" [class.active]="isActive('/contact')">
                        <a class="nav-link" routerLink="/contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr class="sticky-top" style="background-color: #2E2E2E;">
  </div>
  
  <router-outlet></router-outlet>
