<div class="content">
  <section class="blog-header">
      <h1>BLOG</h1>
  </section>
  <section class="recent-posts">
      <div class="recent-header">
          <h2>RECENTS</h2>
      </div>
      <hr>
      <div class="container">
        <div class="left-side">
          <h2>New trivia <br> for the week</h2>
          <button>View post</button>
        </div>
        <div class="right-side">
          <img class="image" src="/assets/recent-trivia.jpg" alt="Your Image">
        </div>
      </div>
      <div class="dates">
        <p>April 29, 2024</p>
        </div>
        <br>
        <hr>
      <div class="container">
        <div class="left-side">
          <h2>Visit to Inocencio <br> Magtoto Memorial <br> Foundation</h2>
          <button>View post</button>
        </div>
        <div class="right-side">
          <img class="image" src="/assets/IMMFI.jpg" alt="Your Image">
        </div>
      </div>
      <div class="dates">
        <p>April 25, 2024</p>
        </div>
        <br>
        <hr>
      <div class="container">
        <div class="left-side">
          <h2>Be part of <br> code geeks!</h2>
          <button>View post</button>
        </div>
        <div class="right-side">
          <img class="image" src="/assets/announcement.jpg" alt="Your Image">
        </div>
      </div>
      <div class="dates">
        <p>July 22, 2023</p>
        </div>
        <br>
        <hr>
  </section>
</div>

