<h1 class="title text-center">BLOG</h1>

<div class="recents">
<p>RECENTS</p>
</div>
<hr>
      <div class="container-announcement">
        <div class="left-side trivia">
          <div class="description">
            <p>New Trivia <br> of the week</p>
          </div>
          <div class="btn-container">
            <button class="btn btn-blog">View Post</button>
          </div>
        </div>
        <div class="right-side">
            <img class="blog-image" src="/assets/recent-trivia.jpg" alt="Image">
        </div>
      </div>
      <div class="dates">
      <p>April 29, 2024</p>
    </div>
<hr>
      <div class="container-announcement">
        <div class="left-side IMMFI">
          <div class="description">
            <p>Visit to Inocencio <br> Magtoto Memorial Foundation</p>
          </div>
          <div class="btn-container">
            <button class="btn btn-blog">View Post</button>
          </div>
        </div>
        <div class="right-side">
            <img class="blog-image" src="/assets/IMMFI.jpg" alt="Image">
        </div>
      </div>
      <div class="dates">
      <p>April 25, 2024</p>
    </div>
<hr>
<div class="container-announcement">
  <div class="left-side">
    <div class="description">
      <p>Be part <br> of code geeks</p>
    </div>
    <div class="btn-container">
      <button class="btn btn-blog">View Post</button>
    </div>
  </div>
  <div class="right-side">
      <img class="blog-image" src="/assets/announcement.jpg" alt="Image">
  </div>
</div>
<div class="dates">
<p>July 22, 2023</p>
</div>
<hr>

