<h1 class="title text-center">BLOG</h1>

<div class="recents">
<p>RECENTS</p>
</div>
<hr>
      <div class="container-announcement">
        <div class="left-side trivia">
          <div class="description">
            <p>New Trivia <br> of the week</p>
          </div>
          <div class="btn-container">
            <a class="btn btn-blog" href="https://www.facebook.com/TheCodeGeeks/posts/pfbid035Jnopk5vM2PU4KgdWff6hjEkFW6ruc5rL9Qme7eUnSCQmXrwuX78Ep6rK2rfhumel">
              View Post</a>
          </div>
        </div>
        <div class="right-side">
            <img class="blog-image" src="/assets/recent-trivia.jpg" alt="Image">
        </div>
      </div>
      <div class="dates">
      <p>April 29, 2024</p>
    </div>
<hr>
      <div class="container-announcement">
        <div class="left-side IMMFI">
          <div class="description">
            <p>Visit to Inocencio <br> Magtoto Memorial Foundation</p>
          </div>
          <div class="btn-container">
            <a class="btn btn-blog" href="https://www.facebook.com/TheCodeGeeks/posts/pfbid0QcQyqhnd1fpfjQ3pg1KZm6ogq6qYDM16JmzRBQ8N4udbMoTuQRyXNneom2UCkuQ1l">
              View Post</a>
          </div>
        </div>
        <div class="right-side">
            <img class="blog-image" src="/assets/IMMFI.jpg" alt="Image">
        </div>
      </div>
      <div class="dates">
      <p>April 25, 2024</p>
    </div>
<hr>
<div class="container-announcement">
  <div class="left-side">
    <div class="description">
      <p>Be part <br> of code geeks</p>
    </div>
    <div class="btn-container">
      <a class="btn btn-blog" href="https://www.facebook.com/TheCodeGeeks/posts/pfbid0dL26jkuZ4S9kbHsuG3xwLrSwgjShafL2H8kQb6H3JahZhYfhb6DtbUZRYk7VxoPFl">
        View Post</a>
    </div>
  </div>
  <div class="right-side">
      <img class="blog-image" src="/assets/announcement.jpg" alt="Image">
  </div>
</div>
<div class="dates">
<p>July 22, 2023</p>
</div>
<hr>