.custom-tab-group{
  color: white;
  margin-top: 130px;
}

::-webkit-scrollbar {
  display: none;
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar{
  --mat-tab-header-active-focus-label-text-color: #FF9100;
  --mat-tab-header-active-label-text-color : #FF9100;
  --mat-tab-header-inactive-label-text-color: white;
  --mat-tab-header-inactive-focus-label-text-color: #FF9100;
  --mat-tab-header-inactive-hover-label-text-color : #FF9100;
  --mdc-tab-indicator-active-indicator-color: #FF9100;
  --mat-tab-header-active-hover-label-text-color: #FF9100;
  --mat-tab-header-active-ripple-color: #FF9100;
  --mat-tab-header-inactive-ripple-color: #FF9100;
  --mat-tab-header-active-focus-indicator-color:#FF9100;
  --mat-tab-header-active-hover-indicator-color:#FF9100;
  --mat-tab-header-pagination-icon-color: #ffffff;
}

.paginator {
  display: flex;
}

.paginator button {
  border: 1px solid #ccc;
  margin: 0 2px;
  padding: 5px 10px;
  cursor: pointer;
}

.paginator button.active {
  background-color: #007bff;
  color: #fff;
}

::ng-deep .mat-mdc-paginator-container{
  margin-right: 10px;
  background-color: transparent;
}

::ng-deep .mat-mdc-paginator{
  width: 50%;
  margin-left: 30px;
}

//------------------------------MAIN------------------------------//
.main {
  margin-top: 35%;
  text-align: center; 
}


.back-text, .front-text {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
}

.back-text h1 {
  font-family: 'Montserrat';
  color: rgb(90, 90, 90);
  text-transform: uppercase;
  z-index: -100;
  font-size: 80px;
  letter-spacing: 15px;
  line-height: 80px;
}

.front-text h1 {
  font-family: 'LEMONMILK';
  color: #0077ff;
  text-shadow: -5px 5px 0px #fff;
  z-index: 100;
  font-size: 95px;
  letter-spacing: 6px;
  white-space: nowrap;
}

.about-button {
  position: absolute;
  bottom: 25%; 
  left: 50%;
  transform: translateX(-50%);
}

.about-button button {
  background-color: transparent;
  border: 2px solid #FF9100;
  border-radius: 50px;
  padding: 6px 30px; 
  transition: background-color 0.5s;
}

.about-button a {
  color: #fff;
  text-transform: uppercase;
  font-family: Montserrat;
  letter-spacing: 3px;
  font-size: 15px;
  text-decoration: none; 
}

.about-button button:hover {
  background-color: #FF9100;
}


@media (max-width: 1024px) {
  .main {
    margin-top: 100%; /* Adjust margin-top for smaller screens */
  }

  .back-text h1 {
    font-size: 40px; /* Decrease font size for smaller screens */
    letter-spacing: 10px; /* Adjust letter spacing for smaller screens */
    width: 100%;
  }

  .front-text h1 {
    font-size: 50px; /* Decrease font size for smaller screens */
    letter-spacing: 6px; /* Adjust letter spacing for smaller screens */
  }

  .about-button {
    bottom: 30%; /* Adjust bottom position for smaller screens */
  }
}

@media (max-width: 430px) {
  .main {
    margin-top: 150%; /* Adjust margin-top for smaller screens */
  }

  .back-text h1 {
    font-size: 20px; /* Decrease font size for smaller screens */
    letter-spacing: 4px; /* Adjust letter spacing for smaller screens */
    width: 100%;
  }

  .front-text h1 {
    font-size: 33px; /* Decrease font size for smaller screens */
    letter-spacing: 4px; /* Adjust letter spacing for smaller screens */
    text-shadow: -3px 3px 0px #fff;
  }

  .about-button {
    bottom: 30%; /* Adjust bottom position for smaller screens */
  }
}


//------------------------------ANNOUNCEMENT------------------------------//
.container-announcement {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 5% auto; 
  max-width: fit-content; 
}

.left-side {
  flex: 1;
  margin-left: 18%;
}

.right-side {
  flex: 1;
  padding: 0 20px;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
}

.announcement-image {
  max-width: 80% !important; 
  height: auto;
}

.btn-announcement1, .btn-announcement2  {
  --bs-btn-color: #fff;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: #FF9100;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #FF9100;
  --bs-btn-hover-border-color: #FF9100;
  text-transform: uppercase;
  letter-spacing: 3px;
  --bs-btn-font-size: 15px !important;
  width: 33%;
}

.btn-announcement1{
margin-right: 30px
}


// -----PROGRAMS-----//
.title-program {
  font-size: 3.5rem ; 
  font-family: LEMONMILK !important;
  text-shadow: -5px 5px 0px #fff;
  color: #FF9100;
  letter-spacing: 10px !important;
  margin-top: 110px ;
}



.programs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
  width: 50%; 
}

.programs-container p{
  line-height: 35px;
  font-weight: normal;
  font-size: 17px;
  font-family: Montserrat !important;
  text-align: justify !important;
}

.btn-container {
  margin-top: 45px; 
}

.program-btn {
  margin-right: 30px; 
}


.program-btn{
  --bs-btn-color: #fff;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: #FF9100;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #FF9100;
  --bs-btn-hover-border-color: #FF9100;
  text-transform: uppercase;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .title-program {
    font-size: 2.5rem; /* Increase font size for larger screens */
    text-shadow: -3px 3px 0px #fff;
  }

  .programs-container{
    padding: 0 50px; /* Increase padding for larger screens */
    width: 100%;

  }

  .btn-container {
    flex-direction: row; /* Arrange buttons horizontally */
    margin-bottom: 10px;
  }

  .program-btn {
    width: 40%; /* Allow buttons to take natural width */
    margin-right: 32px; /* Add margin between buttons */
    margin-bottom: 20px;
  }
}


//------------------------------RESOURCES------------------------------//

  .smaller-image {
    max-width: 55%;
    height: auto;
  }

  .resources-content{
    max-width: 50%;
    margin: 20px auto;
  }

.title {
    font-size: 3.5rem !important; 
    font-family: LEMONMILK !important;
    text-shadow: -5px 5px 0px #fff;
    color: #FF9100;
    letter-spacing: 10px !important;
  }

  .btn-outline-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #FF9100;
    --bs-btn-hover-color: white;
    --bs-btn-hover-bg: #FF9100;
    --bs-btn-hover-border-color: #FF9100;
}

.btn{
  --bs-btn-border-width: 2px;
  --bs-btn-border-radius: 50px;
  --bs-btn-font-family:Montserrat !important;
  --bs-btn-font-size: 15px;
  --bs-btn-font-weight: normal;
}

//------------------------------POSTS------------------------------//
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  align-items: center; 
}

.box1 , .box2 {
  width: 30%;
  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 60vh;
}

.box2{
  margin-left: 10%;
}

.image {
  margin: 10px auto 0;
  width: 90%;
  height: auto; 
}

.description1, .description2 {
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  font-family: Montserrat;
  text-align: center;
  margin: 5px auto 5px; 
  width: 82%; 
}

.description2{
  margin-top: 30px;
}

.btn-post1, .btn-post2{
  --bs-btn-color: #000000;
  --bs-btn-bg: transparent;
  --bs-btn-border-color: #FF9100;
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: #FF9100;
  --bs-btn-hover-border-color: #FF9100;
  text-transform: uppercase;
  width: 50%;
  margin: 10px auto;
}

.btn-post2{
  margin-top: 50px !important;
}


//------------------------------FAQ------------------------------//

::ng-deep .mat-mdc-paginator-icon{
  fill: white !important;
}

.mat-mdc-paginator {
  position: absolute;
  background-color: transparent;
  border: rgba(255, 255, 255, 0.521) solid 1px;
  border-radius: 50px;
  color: white;
  right: 23%;
  font-family: Montserrat;
  width: 250px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.title {
  font-size: 50px;
  font-weight: bold;
  text-align: center; 
  margin-bottom: 20px; 
}

.header-FAQS {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.title-faqs {
  position:relative;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  z-index: 100;
  font-family: LEMONMILK;
  color: #FF9100;
  text-shadow: -5px 5px 0px #fff;
}

.mat-paginator-wrapper {
  display: flex;
  align-items: center;
}

.paginator {
  margin-top: 60px;
}

.outer-box {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  width: 110vh;
  height: 55vh;
}

.inner-box {
  max-width: 85%; 
}

.box-container {
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  margin: 0 auto;
}


.question {
  font-family: LEMONMILK;
  font-size: 30px;
  color: #3D96FB;
  text-align: left;
  letter-spacing: 5px;
  line-height: 45px;
}

.answer {
  font-family: Montserrat;
}
