.custom-tab-group{
  color: white;
  margin-top: 130px;
}

::-webkit-scrollbar {
  display: none;
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar{
  --mat-tab-header-active-focus-label-text-color: #FF9100;
  --mat-tab-header-active-label-text-color : #FF9100;
  --mat-tab-header-inactive-label-text-color: white;
  --mat-tab-header-inactive-focus-label-text-color: #FF9100;
  --mat-tab-header-inactive-hover-label-text-color : #FF9100;
  --mdc-tab-indicator-active-indicator-color: #FF9100;
  --mat-tab-header-active-hover-label-text-color: #FF9100;
  --mat-tab-header-active-ripple-color: #FF9100;
  --mat-tab-header-inactive-ripple-color: #FF9100;
  --mat-tab-header-active-focus-indicator-color:#FF9100;
  --mat-tab-header-active-hover-indicator-color:#FF9100;
  --mat-tab-header-pagination-icon-color: #ffffff;
}

.paginator {
  display: flex;
}

.paginator button {
  border: 1px solid #ccc;
  margin: 0 2px;
  padding: 5px 10px;
  cursor: pointer;
}

.paginator button.active {
  background-color: #007bff;
  color: #fff;
}

::ng-deep .mat-mdc-paginator-container{
  margin-right: 10px;
  background-color: transparent;
}

::ng-deep .mat-mdc-paginator{
  width: 50%;
  margin-left: 30px;
}

.btn{
  --bs-btn-border-width: 2px;
  --bs-btn-border-radius: 50px;
  --bs-btn-font-family:Montserrat !important;
  --bs-btn-font-size: 15px;
  --bs-btn-font-weight: normal;
}

//------------------------------MAIN------------------------------//
.main {
  margin-top: 35%;
  text-align: center; 
}


.back-text, .front-text {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
}

.back-text h1 {
  font-family: 'Montserrat';
  color: rgb(90, 90, 90);
  text-transform: uppercase;
  z-index: -100;
  font-size: 80px;
  letter-spacing: 15px;
  line-height: 110px;
}

.front-text h1 {
  font-family: 'LEMONMILK';
  color: #0077ff;
  text-shadow: -5px 5px 0px #fff;
  z-index: 100;
  font-size: 95px;
  letter-spacing: 6px;
  white-space: nowrap;
}

.about-button {
  position: absolute;
  bottom: 25%; 
  left: 50%;
  transform: translateX(-50%);
}

.about-button button {
  background-color: transparent;
  border: 2px solid #FF9100;
  border-radius: 50px;
  padding: 6px 30px; 
  transition: background-color 0.5s;
}

.about-button a {
  color: #fff;
  text-transform: uppercase;
  font-family: Montserrat;
  letter-spacing: 3px;
  font-size: 15px;
  text-decoration: none; 
}

.about-button button:hover {
  background-color: #FF9100;
}

/* MAIN - LAPTOP FORMAT */
@media screen and (max-width: 1440px) {
  .main {
    margin: 45%;
  }

  .back-text h1 {
    font-size: 80px; 
    text-wrap: nowrap;
    letter-spacing: 10px; 
    line-height: 100px;
    width: 100%;
  }

  .front-text h1 {
    font-size: 80px; 
    letter-spacing: 6px; 
  }

  .about-button {
    bottom: 15%; 
  }
  
}

/* MAIN - IPAD PRO FORMAT */
@media (max-width: 1024px) {
  .main {
    margin-top: 100%; 
  }

  .back-text h1 {
    font-size: 70px; 
    line-height: 90px;
    width: 100%;
  }

  .front-text h1 {
    font-size: 70px; 
  }

  .about-button {
    bottom: 25%; 
  }

}

@media screen and (max-width: 820px) {

  .back-text h1 {
    font-size: 55px; 
    text-wrap: nowrap;
    line-height: 70px;
  }

  .front-text h1 {
    font-size: 55px;  
  }

  
}

/* MAIN - PHONE FORMAT */
@media (max-width: 430px) {
  .main {
    margin-top: 150%;
  }
  .back-text {
    max-width: 100%;
  }

  .back-text h1 {
    font-size: 40px;
    line-height: 100px;
  }

  .front-text h1 {
    font-size: 45px;
    text-shadow: -3px 3px 0px #fff;
  }
  
  .front-text span {
    margin-top: 1px;
    display: block;
  }

  .about-button{
    bottom: 15%; 
    align-items: center;
  }

  .about-button a {
    font-size: 12px;
  }
}


//------------------------------ANNOUNCEMENT------------------------------//
.announcement-title {
  font-size: 3.5rem ; 
  font-family: LEMONMILK !important;
  text-shadow: -5px 5px 0px #fff;
  color: #FF9100;
  letter-spacing: 10px !important;
  margin-top: 110px ;
}

.container-announcement {
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 3% auto; 
  max-width: fit-content; 
}

.left-side {
  flex: 1;
  margin-left: 18%;
}

.right-side {
  flex: 1;
  padding: 0 20px;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 3px;
}

.announcement-image {
  max-width: 80%; 
  height: auto;
}

.btn-announcement1, .btn-announcement2  {
  background-color: transparent;
  border: 2px solid #FF9100;
  border-radius: 50px;
  padding: 6px; 
  transition: background-color 0.5s;
  text-transform: uppercase;
  letter-spacing: 3px;
  width: 33%;
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  text-decoration: none; 
  text-align: center;
}

.btn-announcement1:hover, .btn-announcement2:hover{
  background-color: #FF9100;
}

.btn-announcement1{
margin-right: 30px
}

/* ANNOUNCEMENT - IPAD PRO FORMAT*/
@media (max-width: 1024px) {
  .announcement-title {
    font-size: 2.5em !important;
    text-shadow: -3px 3px 0px #fff !important;
    margin-bottom: 40px !important;
    line-height: 50px;
}

  .container-announcement {
    flex-direction: column; 
    align-items: center; 
    margin: 5% auto; 
    max-width: 90%; 
  }

  .left-side {
    margin-left: 0; 
  }

  .right-side {
    padding: 0;
    text-align: center; 
    width: 80%;
  }

  .btn-announce {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .right-side p{
    margin-top: 30px;
    font-size: 40px;
  }

  .announcement-image {
    width: 70%; 
    display: block; 
    margin: 0 auto;
    margin-bottom: 20px; 
}

.btn-announce .btn-announcement2 {
  margin-left: 40px;
}

  .btn-announcement1,
  .btn-announcement2 {
    width: 30%; 
    margin: 10px 0; 
    align-items: center;
  }

  .btn-announcement1 {
    margin-right: 0; 
  }

}

/* ANNOUNCEMENT - PHONE FORMAT */
@media (max-width: 430px) {
  .announcement-title {
    font-size: 1.9em !important;
    text-shadow: -3px 3px 0px #fff !important;
    margin-bottom: 40px !important;
}

  .container-announcement {
    flex-direction: column; 
    align-items: center;
    margin: 5% auto; 
    max-width: 95%;
  }

  .left-side {
    margin-left: 0; 
  }

  .right-side {
    padding: 0; 
    text-align: center; 
  }

  .right-side p{
   font-size: 30px;
  }

  .announcement-image {
    width: 100% !important; 
    margin-bottom: 20px; 
  }

  .btn-announcement1,
  .btn-announcement2 {
    width: 50%; 
    margin: 10px 0; 
    font-size: 12px;
  }

  .btn-announcement1 {
    margin-right: 0; 
  }

}


// -----PROGRAMS-----//
.title-program {
  font-size: 3.5rem ; 
  font-family: LEMONMILK !important;
  text-shadow: -5px 5px 0px #fff;
  color: #FF9100;
  letter-spacing: 10px !important;
  margin-top: 110px ;
}



.programs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
  width: 50%; 
}

.programs-container p{
  line-height: 35px;
  font-weight: normal;
  font-size: 17px;
  font-family: Montserrat !important;
  text-align: justify !important;
}

.btn-container {
  margin-top: 45px; 
}

.program-btn {
  margin-right: 30px; 
  background-color: transparent;
  border: 2px solid #FF9100;
  border-radius: 50px;
  padding: 6px 20px; 
  transition: background-color 0.5s;
  text-transform: uppercase;
  color: #fff;
  font-family: Montserrat;
  font-size: 15px;
  text-decoration: none; 
}


.program-btn:hover{
 background-color: #FF9100;
}

/* PROGRAM - IPAD PRO FORMAT */
@media (max-width: 1024px) {

  .programs-container {
    width: 70%;
  }

  .programs-container p{
    font-size: 23px;
  }

  .btn-container {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
  }

  .program-btn {
    width: 90%; 
    margin-right: 50px;
    margin-bottom: 20px;
    font-size: 15px;
  }

}

/* PROGRAM - PHONE FORMAT */
@media (max-width: 430px) {
  .title-program {
    font-size: 2.5rem; 
    text-shadow: -4px 4px 0px #fff;
    line-height: 50px;
  }

  .programs-container{
    padding: 0 50px; 
    width: 100%;
  }

  .btn-container {
    text-align: center;
    margin-bottom: 10px;
  }

  .programs-container p{
    font-size: 15px;
  }

  .program-btn {
    width: 70%;
    margin: 0 auto;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 12px;
  }
}


//------------------------------RESOURCES------------------------------//

  .smaller-image {
    width: 55%;
    height: auto;
  }

  .resources-content{
    width: 50%;
    margin: 20px auto;
  }

.title-resources {
    font-size: 3.5rem; 
    font-family: LEMONMILK !important;
    text-shadow: -5px 5px 0px #fff;
    color: #FF9100;
    letter-spacing: 10px !important;
  }

  .btn-outline-primary {
  background-color: transparent;
  border: 2px solid #FF9100;
  border-radius: 50px;
  padding: 6px 20px; 
  transition: background-color 0.5s;
  text-transform: uppercase;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  text-decoration: none;
}

.btn-outline-primary:hover{
  background-color: #FF9100;
}

/* RESOURCES - IPAD PRO FORMAT */
@media screen and (min-width: 768px) and (max-width: 1024px)  {
  .title-resources {
      font-size: 3.5rem; 
      letter-spacing: 3px; 
  }

  .resources-content {
    margin-top: 150px;
    width: 100%;
  }

  .smaller-image {
    width: 80% !important;
  }

  .custom-resources .container-resources .row  {
    margin-left: 100px;
    width: 80%; 
}
  .btn-outline-primary{
    font-size: 15px;
    width: 80%;
  }
}

/* RESOURCES - PHONE FORMAT */
@media (max-width: 430px) {
  .title-resources {
      font-size: 2.5rem !important; 
      letter-spacing: 3px !important; 
      text-shadow: -5px 5px 0px #fff !important;
  }
}


//------------------------------POSTS------------------------------//
.title-posts {
  font-size: 3.5rem; 
  font-family: LEMONMILK !important;
  text-shadow: -5px 5px 0px #fff;
  color: #FF9100;
  letter-spacing: 10px !important;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  align-items: center; 
}

.box1 , .box2 {
  width: 30%;
  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: auto;
}

.box2{
  margin-left: 10%;
}

.image {
  margin: 10px auto 0;
  width: 90%;
  height: auto; 
}

.description1, .description2 {
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  font-family: Montserrat;
  text-align: center;
  margin: 5px auto 5px; 
  width: 82%; 
}

.description2{
  margin-top: 30px;
}

.btn-post1, .btn-post2{
  background-color: transparent;
  border: 2px solid #FF9100;
  border-radius: 50px;
  padding: 6px 20px; 
  transition: background-color 0.5s;
  text-transform: uppercase;
  width: 50%;
  margin: 10px auto;
  color: black;
  font-family: Montserrat;
  font-size: 16px;
  text-decoration: none;
}

.btn-post2{
  margin-top: 50px !important;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .title-posts {
    font-size: 2.8rem; /* Adjust font size for iPad */
    letter-spacing: 7px !important; /* Adjust letter spacing for iPad */
    text-shadow: -4px 4px 0px #fff; /* Adjust text shadow for iPad */
  }

  .box1 , .box2 {
    width: 50%; /* Adjust width for iPad */
  }

  .box2 {
    margin-left: 0; /* Adjust margin-left for iPad */
  }

  .description1, .description2 {
    font-size: 18px; /* Adjust font size for iPad */
    width: 100%; /* Adjust width for iPad */
  }

  .btn-post1, .btn-post2 {
    width: 70%; /* Adjust width for iPad */
    font-size: 14px; /* Adjust font size for iPad */
  }
}



@media screen and (max-width: 767px) {
  .title-posts {
    font-size: 2.5rem; /* Further decrease font size for smaller screens */
    letter-spacing: 5px !important; /* Further decrease letter spacing for smaller screens */
    text-shadow: -3px 3px 0px #fff;
  }

  .box1 , .box2 {
    width: 100%; /* Adjust width for smaller screens */
  }

  .box2{
    margin-left: 0;
  }

  .description1, .description2 {
    font-size: 16px; /* Further decrease font size for smaller screens */
    width: 100%; /* Adjust width for smaller screens */
  }

  .btn-post1, .btn-post2 {
    width: 80%; /* Adjust width for smaller screens */
    font-size: 12px; /* Further decrease font size for smaller screens */
  }
}



//------------------------------FAQ------------------------------//

::ng-deep .mat-mdc-paginator-icon{
  fill: white !important;
}

.mat-mdc-paginator {
  position: absolute;
  background-color: transparent;
  border: rgba(255, 255, 255, 0.521) solid 1px;
  border-radius: 50px;
  color: white;
  right: 23%;
  font-family: Montserrat;
  width: 250px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.title {
  font-size: 50px;
  font-weight: bold;
  text-align: center; 
  margin-bottom: 20px; 
}

.header-FAQS {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.title-faqs {
  position:relative;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  z-index: 100;
  font-family: LEMONMILK;
  color: #FF9100;
  text-shadow: -5px 5px 0px #fff;
}

.mat-paginator-wrapper {
  display: flex;
  align-items: center;
}

.paginator {
  margin-top: 60px;
}

.outer-box {
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50px;
  width: 110vh;
  height: 55vh;
}

.inner-box {
  max-width: 85%; 
}

.box-container {
  font-size: 18px;
  line-height: 30px;
  width: 100%;
  margin: 0 auto;
}


.question {
  font-family: LEMONMILK;
  font-size: 30px;
  color: #3D96FB;
  text-align: left;
  letter-spacing: 5px;
  line-height: 45px;
}

.answer {
  font-family: Montserrat;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding: 20px; /* Add padding for better spacing */
  }

  .title-faqs {
    font-size: 2.5rem; /* Decrease font size for smaller screens */
    margin-bottom: 20px; /* Add spacing below the title */
  }

  .header-FAQS {
    text-align: center; /* Center the title */
    margin-top: 0 ;
  }

  .outer-box {
    width: 100%; /* Adjust width for smaller screens */
    height: 100%;
  }

  .inner-box {
    padding: 10px; /* Add padding for better spacing */
  }

  .box-container {
    text-align: justify; /* Justify text */
  }

  .question, .answer {
    font-size: 16px; /* Decrease font size for smaller screens */
    margin-bottom: 10px; /* Add spacing between questions and answers */
  }

  mat-paginator {
    margin-top: 150px; /* Add spacing above the paginator */
  }
}


/* Media Query for Mobile Devices */
@media screen and (max-width: 767px) {
  .container {
    padding: 20px; /* Add padding for better spacing */
  }

  
  .title-faqs {
    font-size: 2.5rem; /* Decrease font size for smaller screens */
    margin-bottom: 20px; /* Add spacing below the title */
  }

  .header-FAQS {
    text-align: center; /* Center the title */
    margin-top: 0 ;
  }

  .outer-box {
    width: 100%; /* Adjust width for smaller screens */
    height: 100%;
  }

  .inner-box {
    padding: 10px; /* Add padding for better spacing */
  }

  .box-container {
    text-align: justify; /* Justify text */
  }

  .question, .answer {
    font-size: 16px; /* Decrease font size for smaller screens */
    margin-bottom: 10px; /* Add spacing between questions and answers */
  }

  mat-paginator {
    margin-top: 130px; /* Add spacing above the paginator */
  }
}

